extends layout

block append scripts

block heading

block body
	article
		each val, key in events
			section
				header
					h2= key
				ol.events
					each event in val
						li.vcard
							div(style="border-color:#{event.color}")
								h3
									a(href=event.url)= event.title
									p.who= event.people
									p.when= event.when
